page-location-search {
    ion-header {
        ion-navbar {
            ion-input {
                color:white;
                .text-input::-moz-placeholder {
                    color: white;
                  }

                .text-input:-ms-input-placeholder {
                    color: white;
                }

                .text-input::-webkit-input-placeholder {
                    text-indent: 0;
                    color: white;
                }
            }
        }
    }
}
